<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>流媒体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21514FAF1ED6C56B00E9EAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21514FC81ED6C56B00E9EAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21514FD31ED6C56B00E9EAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
